/* Item */
.todo-list .task-item {
  border-radius: 0;
  box-shadow: none;
  overflow: hidden;
  flex-shrink: 0;
  align-items: center;
  cursor: pointer;
}

.todo-list .task-item:first-child {
  border-radius: 6px 6px 0 0;
}

.todo-list .task-item {
  border-bottom: 1px solid var(--dark-grayish-blue);
}

/* Task name */
.todo-list .task-item .task-name {
  display: flex;
  align-items: center;
  color: var(--text-color);
  font-size: var(--fs-s);
  width: auto;
  text-transform: capitalize;
  text-align: left;
  font-family: var(--ff-josefin-sans);
  transition: all 0.5s;
}

.todo-list .task-item.completed .task-name {
  color: var(--dark-grayish-blue);
  text-decoration: line-through;
}

.dark-mode .task-item:not(.completed):hover .task-name {
  color: var(--bright-cyan);
}

.todo-list .task-item.ondrag {
  background-color: var(--ondrag-color);
}

@media screen and (min-width: 768px) {
  .todo-list .task-item .task-name {
    font-size: var(--fs-sl);
  }
}
