.create-new-todo label,
.create-new-todo input {
  width: 100%;
}

.create-new-todo input {
  border: none;
  height: 100%;
  font-family: var(--ff-josefin-sans);
  font-size: var(--fs-s);
  background-color: transparent;
  color: var(--text-color);
}

.create-new-todo input:focus {
  outline: none;
}

.create-new-todo button {
  color: var(--bright-blue);
  font-family: var(--ff-josefin-sans);
  margin: 0 0 0 auto;
  font-size: var(--sl);
}

@media screen and (min-width: 768px) {
  .create-new-todo input {
    font-size: var(--fs-s);
  }
}
