.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.max-width {
  max-width: 540px;
}

.task-item {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  padding: 14px 22px;
  border-radius: 6px;
  background-color: var(--card-bg-color);
  box-shadow: var(--box-shadow);
  width: 100%;
}


.task-item > *:not(:last-child) {
  margin-right: 12px;
}

@media screen and (min-width: 768px) {
  .task-item {
    padding: 20px;
  }

  .task-item > *:not(:last-child) {
    margin-right: 20px;
  }
}
