.main {
  align-items: center;
  min-height: calc(100vh - 200px);
  background-color: var(--wrapper-bg-color);
  padding: 0 24px 48px;
}

@media screen and (min-width: 768px) {
  .main {
    min-height: calc(100vh - 300px);
  }
}
